<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  
  
 <div class="all">
   <form method="POST">
     <label class="log">Log-in</label>
     <img class="lo" src="https://i.postimg.cc/28TKsRc7/profile-1.png">
     <label for="name">Username:</label>
     <input type="text" name="username" id="name" class="input" placeholder="Username" required>
     <label for="pass">Password:</label>
     <input type="password" name="password" id="pass" class="input"placeholder="Password" required>
     <button class="in" type="submit">Login<img class="in n"  src="https://i.postimg.cc/jdsGKdJS/login-24dp-FAEDFF-FILL0-wght400-GRAD0-opsz24.png"></button>
     <div>
       <p>Forgot password?</p>
       <h4>Don't have an account?<span>Sign Up</span></h4>
     </div>
   </form>  
 </div>  
</body>
</html>
